/************ Footer Css ************/
.footer {
  padding: 50px 0;
  background: linear-gradient(90.21deg, #121212 -5.91%, #1c113a 111.58%);
  border-top: 2px solid #4a2fbd;
}

.footer-logo {
  width: 150px; /* Ajusta el tamaño del logo si es necesario */
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #ffffff;
}

.footer .social-icon {
  margin-bottom: 15px;
}

.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-links {
    margin-bottom: 20px;
  }
  .footer p {
    margin-top: 15px;
  }
}

.transparent-button {
  opacity: 0.5;
}
