/************ Services ************/

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.services {
  margin-top: -0;
  padding: 100px 0 50px 0;
  background: radial-gradient(
      circle at top left,
      rgb(128, 54, 170) 5%,
      transparent 35%
    ),
    rgb(0, 0, 0);
  background-blend-mode: normal;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeInUp 1.2s ease-in-out;
}

.services h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

@media (max-width: 768px) {
  .services {
    background: linear-gradient(
        to bottom,
        rgba(128, 54, 170, 0.5) 0%,
        transparent 50%
      ),
      rgb(0, 0, 0);
  }
}
